.popup__header {
    width: 518px;
    margin-bottom: 8px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

@media screen and (max-width: 540px) {
    .popup__header {
        width: 100%;
    }
}