.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 880px;
}

@media screen and (max-width: 940px) {
    .profile-info {
        flex-direction: column;
        margin: 26px auto 36px;
    }
}

@media screen and (max-width: 715px) {
    .profile-info {
        align-items: center;
    }
}